{{ 'section-article-featured-info.css' | asset_url | stylesheet_tag }}

<div class="grid">
  <div class="grid__item featured_image">
    {% if article.image %}
      <div
        class="article-template__hero-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      >
        <div
          class="article-template__hero-adapt media" style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
        >
          <img
            srcset="
              {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
              {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
              {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
              {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
              {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
              {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
              {{ article.image | image_url }} {{ article.image.width }}w
            "
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
            src="{{ article.image | image_url: width: 1100 }}"
            loading="eager"
            fetchpriority="high"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            alt="{{ article.image.alt | escape }}"
          >
        </div>
      </div>
    {% endif %}
  </div>
  <div class="grid__item article__info">
    <div class="article__info-container">
      {% assign number_of_words = article.content | split:' ' %}
      {% assign average_wpm = 260 %}
      {% assign time = number_of_words.size | divided_by: average_wpm %}
      <p class="subline-text reading-time">{{ time }} minute read</p>
      <h1
        class="article-template__title"
      >
        {{ article.title | escape }}
      </h1>
      {%- if read_more -%}
        <a class="button button-secondary" href="{{ article.url }}">Read More</a>
      {%- endif -%}
      {%- if blog_show_date or blog_show_author -%}
        <p class="subline-text article_date_author_info">
          {%- if blog_show_date -%}
            <span class="date">
              {{- article.published_at | time_tag: format: 'date' -}}
            </span>
          {%- endif -%}
          {%- if blog_show_author -%}
            <span class="author">
              <span>{{ article.author }}</span>
            </span>
          {%- endif -%}
        </p>
      {%- endif -%}
    </div>
  </div>
</div>