{{ 'career-roles.css' | asset_url | stylesheet_tag }}

<div class="career-section-info">
  <div class="page-width">
    <div class="grid grid--1-col grid--2-col-tablet">
      <div class="grid__item">
        <div class="section-info">
          {% if section.settings.subtitle != blank %}
            <h4 class="subtitle">
              {{ section.settings.subtitle }}
            </h4>
          {% endif %}
          {% if section.settings.heading != blank %}
            <h3 class="inline-richtext h1">
              {{ section.settings.heading }}
            </h3>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="member-text">
              {{ section.settings.text }}
            </div>
          {% endif %}
        </div>
      </div>
      {% if section.settings.image != blank %}
        <div class="grid__item">
          <div class="member-img">
            {{
              section.settings.image
              | image_url: width: section.settings.image.width
              | image_tag: loading: 'lazy', class: 'section-banner'
            }}
          </div>
        </div>
      {% endif %}
    
    </div>
  </div>
</div>

{% if section.blocks.size > 0 %}
  <div class="career-roles-wrapper">
    <div class="page-width">
      <h3 class="center inline-richtext h1">OPEN ROLES</h3>
      <div class="career-roles-row">
        {%- for block in section.blocks -%}
          <div class="career-role-iteam">
            <div class="career-role-content">
              {% if block.settings.title != blank %}
                <div class="role-title">{{- block.settings.title -}}</div>
              {% endif %}
              {% if block.settings.location != blank
                or block.settings.workplacetype != blank
                or block.settings.jobtype != blank
              %}
                <div class="role-info">
                  {% if block.settings.location != blank %}
                    <div class="role-location">{{- block.settings.location -}}</div>
                  {% endif %}
                  {% if block.settings.workplacetype != blank %}
                    <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="4" cy="4.5" r="4" fill="#F2B65E"/>
                    </svg>
                    <div class="role-workplacetype">{{- block.settings.workplacetype -}}</div>
                  {% endif %}
                  {% if block.settings.jobtype != blank %}
                    <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="4" cy="4.5" r="4" fill="#F2B65E"/>
                    </svg>
                    <div class="role-jobtype">{{- block.settings.jobtype -}}</div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
            {% if block.settings.title != blank %}
              <button type="button" class="role-applay button button--primary" data-value="{{ block.settings.title }}">
                <span>Apply</span>
              </button>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Career Roles",
  "class": "section-career",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "roles",
      "name": "Roles",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "inline_richtext",
          "id": "location",
          "label": "Location"
        },
        {
          "type": "select",
          "label": "Workplace Type",
          "id": "workplacetype",
          "default": "On-site",
          "options": [
            {
              "label": "On-site",
              "value": "On-site"
            },
            {
              "label": "Hybrid",
              "value": "Hybrid"
            },
            {
              "label": "Remote",
              "value": "Remote"
            }
          ]
        },
        {
          "type": "select",
          "label": "Job type",
          "id": "jobtype",
          "default": "Full-time",
          "options": [
            { "label": "Full-time", "value": "Full-time" },
            { "label": "Fresher", "value": "Fresher" },
            { "label": "Internship", "value": "Internship" },
            { "label": "Contract", "value": "Contract" },
            { "label": "Temporary", "value": "Temporary" },
            { "label": "Part-time", "value": "Part-time" }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Career Roles"
    }
  ]
}
{% endschema %}
