{% liquid
  assign id = section.id
  assign settings = section.settings
  assign blocks = section.blocks
%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{{ 'section-videoslider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>

<div class="sec-{{ id }} section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  <div class="section-before-curve">
    <svg width="1440" height="128" viewBox="0 0 1440 128" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_62_143" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="128">
      <rect width="1440" height="128" fill="white"/>
      </mask>
      <g mask="url(#mask0_62_143)">
      <path d="M812.5 98.8212C491 166.319 271.5 107.576 0 7.31818V789.319H1440V7.31856C1172 -20.6818 1110.02 36.3588 812.5 98.8212Z" fill="#5C0124"/>
      </g>
    </svg>
  </div>
  <div class="{% unless section.settings.full_width %}full-page-width{% endunless %}">
    <div class="wrapper wrapper-{{ id }}">
      <div class="swiper-navigation-werapper">
        {% unless section.settings.heading == blank %}
          <h2 class="heading-{{ id }} hxxl">{{ section.settings.heading }}</h2>
        {% endunless %}
        <a href="{{ section.settings.button_link }}" class="button button-primary">
          {{- section.settings.button_label -}}
        </a>
        {% if section.settings.image != blank %}
          {{
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag: loading: 'lazy', class: 'vectorimage'
          }}
        {% endif %}
      </div>
      <div class="swiper video-swiper video-swiper-{{ id }}">
        <div class="swiper-navigation-buttons">
          <div id="prev--{{ section.id }}" class="swiper-navigation-button button button-primary swiper-button-prev">
            <span>
              <svg
                aria-hidden="true"
                focusable="false"
                class="icon icon-caret"
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M9 18.5L15 12.5L9 6.5" stroke="currentColor" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <div id="next--{{ section.id }}" class="swiper-navigation-button button button-primary swiper-button-next">
            <span>
              <svg
                aria-hidden="true"
                focusable="false"
                class="icon icon-caret"
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M9 18.5L15 12.5L9 6.5" stroke="currentColor" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
        </div>
        <div class="swiper-wrapper">
          {% for block in section.settings.blog.articles limit: section.settings.post_limit %}
            {% assign media_file = block.metafields.custom.featured_media.value %}
            <div class="swiper-slide video-slide video-slide-{{ id }}">
              {% if media_file %}
                <div class="video-wrapper">
                  {% case media_file.media_type %}
                    {% when 'image' %}
                      {{ media_file | image_url: width: 285 | image_tag: class: 'slider-slide-video' }}
                    {% when 'video' %}
                      {{
                        media_file
                        | video_tag:
                          image_size: '285x',
                          autoplay: false,
                          loop: true,
                          muted: false,
                          controls: false,
                          class: 'slider-slide-video',
                          data-index: forloop.index
                      }}
                      <div class="vss-play-button vss-play-button-{{id}}">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="24" cy="24.6108" r="24" fill="black" fill-opacity="0.32"/>
                          <path d="M34 24.6108C34.0005 24.8459 33.9451 25.0771 33.8392 25.2819C33.7332 25.4868 33.5804 25.6584 33.3954 25.7799L21.9345 33.4071C21.7413 33.5358 21.52 33.606 21.2935 33.6106C21.0669 33.6152 20.8434 33.5539 20.6459 33.433C20.4503 33.314 20.2874 33.1405 20.1739 32.9304C20.0603 32.7202 20.0003 32.4809 20 32.2371V16.9846C20.0003 16.7408 20.0603 16.5015 20.1739 16.2913C20.2874 16.0811 20.4503 15.9076 20.6459 15.7887C20.8434 15.6678 21.0669 15.6065 21.2935 15.6111C21.52 15.6156 21.7413 15.6859 21.9345 15.8146L33.3954 23.4418C33.5804 23.5633 33.7332 23.7349 33.8392 23.9397C33.9451 24.1446 34.0005 24.3758 34 24.6108Z" fill="white"/>
                        </svg>
                      </div>
                    {% else %}
                      <!-- Handle other media types or fallback -->
                  {% endcase %}
                </div>
              {% endif %}
              {% unless block.settings.video == blank %}
                <div class="video-wrapper">
                  {{
                    block.settings.video
                    | video_tag:
                      image_size: '200x',
                      autoplay: false,
                      loop: true,
                      muted: false,
                      controls: false,
                      class: 'slider-slide-video',
                      data-index: forloop.index
                  }}
                  <div class="vss-play-button vss-play-button-{{id}}">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="24" cy="24.6108" r="24" fill="black" fill-opacity="0.32"/>
                      <path d="M34 24.6108C34.0005 24.8459 33.9451 25.0771 33.8392 25.2819C33.7332 25.4868 33.5804 25.6584 33.3954 25.7799L21.9345 33.4071C21.7413 33.5358 21.52 33.606 21.2935 33.6106C21.0669 33.6152 20.8434 33.5539 20.6459 33.433C20.4503 33.314 20.2874 33.1405 20.1739 32.9304C20.0603 32.7202 20.0003 32.4809 20 32.2371V16.9846C20.0003 16.7408 20.0603 16.5015 20.1739 16.2913C20.2874 16.0811 20.4503 15.9076 20.6459 15.7887C20.8434 15.6678 21.0669 15.6065 21.2935 15.6111C21.52 15.6156 21.7413 15.6859 21.9345 15.8146L33.3954 23.4418C33.5804 23.5633 33.7332 23.7349 33.8392 23.9397C33.9451 24.1446 34.0005 24.3758 34 24.6108Z" fill="white"/>
                    </svg>
                  </div>
                </div>
              {% endunless %}
              {% if block.title != blank %}
                <div class="video-title-wrapper">
                  <h3 class="h1">{{ block.title }}</h3>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.video-swiper-{{ id }}', {
      slidesPerView: 1.5,
      spaceBetween: 16,
      breakpoints: {
        640: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 3,
        },
      },
      navigation: {
        nextEl: '#next--{{ section.id }}',
        prevEl: '#prev--{{ section.id }}',
      },
    });

    if (document.querySelectorAll('.vss-play-button-{{id}}')) {
      document.querySelectorAll('.vss-play-button-{{id}}').forEach((button) => {
        button.addEventListener('click', (e) => {
          let video = button.closest('.swiper-slide').querySelector('video');
          videoControl(video);
        });
      });
    }

    if (document.querySelectorAll('.video-slide-{{ id }} .slider-slide-video')) {
      document.querySelectorAll('.video-slide-{{ id }} .slider-slide-video').forEach((video) => {
        video.addEventListener('click', (e) => {
          videoControl(video);
        });
      });
    }

    function videoControl(video) {
      document.querySelectorAll('.video-slide-{{ id }} .slider-slide-video').forEach((v) => {
        if (v.dataset.index === video.dataset.index) {
          if (v.paused) {
            v.play();
            v.classList.add('playing');
          } else {
            v.pause();
            v.classList.remove('playing');
          }
        } else {
          v.pause();
          v.classList.remove('playing');
        }
      });
    }
  });
</script>

{% schema %}
{
  "name": "Featured Media Blogs",
  "class": "section section-featuredmedia-blogs",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": false
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "heading",
      "default": "Discover the Secret to Perfect Skin"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
      "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
      "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Vector Image"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 6,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    }
  ],
  "blocks": [
    {
      "type": "videoblock",
      "name": "Video block",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "video_title",
          "label": "Video Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Media Blogs"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
