<div class="page-width">
  {%- if section.settings.heading != blank -%}
    <h2 class="wrapper-title center inline-richtext {{ section.settings.heading_size }}">
      {{ section.settings.heading }}
    </h2>
  {%- endif -%}
  <div class="custom-search-wrap">
    <find-gift>
      <div class="error-container"></div>
      {% liquid
        assign filter_collection = section.settings.collection
      %}
      <form id="custom-search-form" class="search search-form" action="{{ filter_collection.url }}" method="get" role="search">
        {% assign occasion_filter = null %}
        {% assign price_filter = null %}
        {% for filter in filter_collection.filters %}
          {% comment %} {{ filter.type }} - {{ filter.label }} - {{ filter.param_name }} {% endcomment %}
          {% if filter.param_name == 'filter.p.m.custom.celebration_type' %}
            {% assign occasion_filter = filter %}
          {% endif %}
          {% if filter.param_name == 'filter.v.price' %}
            {% assign price_filter = filter %}
          {% endif %}
        {% endfor %}
        <select class="field_input occasion-filter" name="{{ occasion_filter.param_name }}" required>
          <option value=''>Select Occasion</option>
          {% for filter_val in occasion_filter.values %}
          <option value="{{ filter_val.value }}">{{ filter_val.label }}</option>
          {% endfor %}          
        </select>
        {% comment %} <input class="field_input" type="search" name="type" value="" placeholder="Select Occasion"> {% endcomment %}
        {% if section.settings.price_range != blank %}
        <select class="field_input price-filter" name="{{ price_filter.param_name }}" required>
          <option value=''>Select Price Range</option>
          {% assign price_range = section.settings.price_range | split:',' %}
          {% for range in price_range %}
            <option value="{{ range }}">{{ range }}</option>
          {% endfor %}
        </select>
      {% endif %}
        <button type="submit" class="button">
          <span>FIND A GIFT</span>
        </button>
      </form>
    </find-gift>
  </div>
</div>

<script src="{{ 'find-gift-form.js' | asset_url }}" defer="defer"></script>
{% comment %} filter.v.price.gte=&filter.v.price.lte=&filter.p.m.custom.celebration_type=Diwali {% endcomment %}

{% schema %}
{
  "name": "Find The Perfect Gift",
  "tag": "section",
  "class": "section sections-find-the-perfect-gift",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "FIND THE PERFECT GIFT",
      "label": "t:sections.collage.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "hxl",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type":"collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "textarea",
      "id": "price_range",
      "label": "Price Range"
    }
  ],
  "presets": [
    {
      "name": "Find The Perfect Gift"
    }
  ]
}
{% endschema %}
