{{ 'floating-images.css' | asset_url | stylesheet_tag }}

{{ 'ticker-section.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="sticky-wrapper color-{{ section.settings.color_scheme }} gradient  section-{{ section.id }}-padding">
  <div class="gifts-inner">
    <div class="page-padding">
      <div class="gifts-content">
        {% if section.settings.heading != blank %}
          <h2 class="headline-large">{{- section.settings.heading -}}</h2>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank -%}
          <a href="{{ section.settings.button_link }}" class="button button--primary">
            {{- section.settings.button_label -}}
          </a>
        {%- endif -%}
      </div>
    </div>

    <div class="ticker-section ">
      <div class="main-container">
        {% for block in section.blocks %}
          {% if block.type == 'icon_with_text' %}
            <div class="wrapper" data-marqy-inner>
              {% for i in (1..block.settings.copy_count) %}
                <div
                  class="ticker-slider ticker-scrollto-{{ block.settings.scroll_direction }}"
                  data-marqy-content
                  style="animation-duration: {{- block.settings.scrolll_speed -}}s;"
                >
                  <div class="slider-item" data-marqy-item>
                    {% if block.settings.icon != blank %}
                      <div class="icon-wrap">
                        {% render 'responsive--image' with block.settings.icon as image, max_width: 60px, class: 'icon-image' %}
                      </div>
                    {% endif %}
                    {% if block.settings.icon_text != blank %}
                      <span class="icon-text">{{ block.settings.icon_text }}</span>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        {%- if section.settings.image != blank -%}
          {% capture sectionimg %}
            {{ section.settings.image | image_url: width: 413 | image_tag: loading: 'lazy', class: 'mobile-size-fix' }}
            <img class="svg-text" src="{{ 'frame1686567197.svg'| file_url }}" width="198" height="198" alt=""/>
            <img class="svg-cursor-icon" src="{{ 'frame1686567197-1.svg'| file_url }}" width="215" height="215" alt=""/>
            {% endcapture %}
          {% if section.settings.link != blank %}
            <a class="image-wrapper" href="{{ section.settings.link }}">
              {{ sectionimg }}
            </a>
          {% else %}
            <div class="image-wrapper">
              {{ sectionimg }}
            </div>
          {% endif %}
        {% endif -%}
      </div>
    </div>
  </div>
  <div class="gifts-imgs-wrapper pointer-events-none">
    {%- for block in section.blocks -%}
      {% if block.type == 'image' %}
        <div class="floating-img-el home-0{{ forloop.index }} pointer-events-auto animate-idom" data-animation-name="floating-img">
          <div class="floating-img-parallax fast">
            <div class="floating-img-inner">
              {% if block.settings.image != blank %}
                {{
                  block.settings.image
                  | image_url: width: block.settings.image.width, height: block.settings.image.height
                  | image_tag: loading: 'lazy', class: 'floating-img'
                }}
              {% endif %}
            </div>
            <div class="floating-img-shadow"></div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Floating Images",
  "class": "section gifts floating-images",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        }
      ]
    },
    {
      "name": "Icon With Text",
      "type": "icon_with_text",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "icon_text",
          "label": "Icon Text"
        },
        {
          "type": "range",
          "id": "copy_count",
          "label": "Copy count",
          "default": 3,
          "step": 1,
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "scrolll_speed",
          "label": "Scroll Speed",
          "default": 20,
          "step": 1,
          "min": 5,
          "max": 100
        },
        {
          "type": "select",
          "id": "scroll_direction",
          "label": "Scroll Direction",
          "default": "rtl",
          "options": [
            {
              "label": "Left to Right",
              "value": "ltr"
            },
            {
              "label": "Right to Left",
              "value": "rtl"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Floating Images"
    }
  ]
}
{% endschema %}
